services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=perfit_db
      - POSTGRES_USER=perfit_user
      - POSTGRES_PASSWORD=perfit_password
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn PERFIT.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/PERFIT/static
    expose:
      - 8000
    env_file:
      - ./PERFIT/.env
    depends_on:
      - db

  nginx:
    image: nginx:1.25-alpine
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/PERFIT/static
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  static_volume:
  postgres_data: